<p>connection-lookup works!</p>

<form (ngSubmit)="submitForm()">
    <div class="form-group">
        <label for="startCity">FROM</label>
        <select class="form-control" id="startCity" required [(ngModel)]="selectedCityFrom" name="startCity" [compareWith]="compareFn">
            <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
          </select>
          
      </div>
      
      <div class="form-group">
        <label for="endCity">TO</label>
        <select class="form-control" id="endCity" required [(ngModel)]="selectedCityTo" name="endCity" [compareWith]="compareFn">
          <option *ngFor="let city of cities" [ngValue]="city">{{ city.name }}</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="departureDate">Departure Date</label>
        <input type="datetime-local" class="form-control" id="departureDate" required [(ngModel)]="selectedDepartureDate" name="departureDate">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
      
</form>
  
