<div class="main">
    <div class="search-container">
        <p>Where are you going? </p>
        <form class="search-form">
            <input type="text" placeholder="From Station" />
            <input type="text" placeholder="To Station" />
            <input type="date" />
            <button class="main__cta" type="submit"> Search </button>
        </form>
    </div>
    <div class="main_text-container">
        <p class="main_text">Some informations about page</p>
        <p> Lorem </p>
        <p> Lorem</p>
        <p> Lorem</p>
    </div>
</div>