<div class = "content">
    <div class="content__left">
        <h1>Success!</h1>
        <h2>Your ticket purchase was successful.</h2>
        <button (click)="confirmPurchase()">Confirm</button>
    </div>
    <div class="content__right">
        <div class="advertisement">
            <h3>Student Night Owl Special!</h3>
            <p>Are you burning the midnight oil studying or working on a project? You are not alone!</p>
            <p>We understand the struggle of balancing study, work, and life. That's why we've introduced the Night Owl Special just for you!</p>
            <p>Get a 20% discount on all our late-night routes! Whether you're travelling back from a late-night study session at the library or heading to your part-time job, we've got you covered.</p>
            <p>Just use the promo code "NIGHTOWL" when purchasing your tickets. Don't let the night hold you back! </p>
        </div>
    </div>
</div>
