
<div class = content>
    <div class="content__left">
        <i class="fas fa-bus"></i>
        <div *ngFor="let connection of connection.connections">
            <div *ngIf="connection.id === selectedConnectionId">
                <h2>Selected Route: <br> {{connection.routeName}}</h2>
                <h3>Departure Date: {{selectedDate}}</h3>
                <div *ngFor="let stop of connection.stops">
                    <h3>Stops: {{stop.cityName}}</h3>
                </div>
            </div>
    </div>
    </div>
    <div class="content__right">
        <canvas #canvas (click)="handleClick($event)"></canvas>
        <div class="summary">
            <h2>Summary</h2>
            <p>Selected tickets: {{ selectedSeats.length }}</p>
            <p class="price">Total price: ${{ totalPrice.toFixed(2) }}</p>
            <button (click)="buyTickets()">Buy</button>
          </div>
    </div>
</div>
