.navbar {
    background-color: #ffffff; /* light blue */
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: rgb(2, 109, 248);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px; 
}

.navbar li a:hover {
    background-color: #6495ED; /* a bit darker blue */
}